.task-list-item-container {
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 16px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  padding-right: 24px;
  &:hover {
    background: #fafafa;
    border-radius: 14px;
    border-bottom: 1px solid #ececec;
  }
  &-check {
    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 4px;
      border: 1px solid #afafaf;
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:checked {
        background-color: #2563eb;
        border-color: #2563eb;
      }
    }
  }
  &-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    &-title {
      color: #111928;
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
    }
    &-date {
      color: #9a9a9a;
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
    }
  }
  &-options {
    margin-left: auto; // Added to push the third child to the right
  }
}
