.topbar-container {
  height: 100px;
  position: fixed;
  top: 0;
  left: 115px;
  padding: 24px 32px;
  width: calc(100% - 485px);
  text-align: left;
  &-date {
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    span {
      display: block;
      margin-top: 0;
      color: #a1a1a1;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
