.app-layout {
  height: 100vh;
  background-color: #fff;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

@keyframes slideInRight {
  from {
    transform: translateX(20%); /* Start off-screen to the right */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Slide into place */
    opacity: 1;
  }
}
