.calendar-container {
  width: 100%;
  max-width: 370px;
  min-width: 370px;
  background-color: #fff;
  height: 100%;
  padding-top: 24px;
  padding-right: 24px;
  overflow-y: auto;
  border-left: 1px solid #ececec;
  position: relative;
  animation: slideInRight 0.2s ease forwards; /* Trigger the animation */

  &-current-time {
    position: absolute;
    left: 25px;
    z-index: 9999;
    width: calc(100% - 25px);
    height: 2px;
    background-color: #2b6eff;
  }
  .timeline {
    display: flex;
    flex-direction: column;
  }

  .time-slot {
    min-height: 25px;
    height: 25px;
    position: relative;
    .divider {
      position: absolute;
      top: 0;
      left: 80px;
      height: 1px;
      width: calc(100% - 80px);
      background: #ececec;
    }
    .time {
      position: absolute;
      top: -6px;
      left: 16px;
      color: #666;
      font-size: 14px;
      margin-left: 8px;
      color: #9a9a9a;
      font-family: Inter;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}
