.calendar-slot-container {
  width: calc(100% - 104px);
  background: #e7faff;
  border: 1px solid #fff;

  border-radius: 8px;
  padding: 4px 12px;
  position: absolute;
  right: 24px;
  top: 0;
  z-index: 9;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  &:hover {
    z-index: 999;
  }
  &-desc {
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    text-align: start;
  }
  &-time {
    color: rgba(40, 40, 40, 0.7);
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 181.818% */
  }
}
