@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  color: #333;
  margin-top: 50px;
}

.widget {
  background-color: #fff;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

input[type="text"] {
  border: none;
  outline: none;
}

input[type="text"]:focus {
  border: none;
  outline: none;
}

input[type="text"]::placeholder {
  color: #ccc;
}

input[type="text"]::-webkit-input-placeholder {
  color: #ccc;
}

input[type="text"]::-moz-placeholder {
  color: #ccc;
}

*:hover::-webkit-scrollbar,
*:active::-webkit-scrollbar,
*:focus::-webkit-scrollbar {
  display: block;
  width: 3px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #989898;
  border-radius: 10px;
}

/* selection  styles on hover  */
.selection {
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  position: relative;
}
.selection:hover {
  background-color: #eeeded;
}
.selection-active {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08) inset;
  background-color: #f5f5f5;
}
