@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  color: #333;
  margin-top: 50px;
}

.widget {
  background-color: #fff;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}
