.task-list-container {
  margin-top: 40px;
  height: calc(100vh - 244px);
  overflow-y: auto;
  &-divider {
    height: 1px;
    width: calc(100% - 24px);
    background: #ececec;
    margin-left: 12px;
  }
}
